.login-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--ds-color-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
